<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Image Count: ' + ${imageCount}" />
    <p th:text="'Home Description: ' + ${homeDescription}" />
    <p th:text="'Current View Count: ' + ${totalPageViewCount}" />
    <p th:text="'Address Street: ' + ${addressStreet}" />
    <p th:text="'Zip Code: ' + ${addressZipCode}" />
    <p th:text="'City: ' + ${addressCity}" />
    <p th:text="'State: ' + ${addressState}" />
</body>
</html>